doctype 5
html
    head
        title Example Page
        link(href="/css/test.css",rel="stylesheet")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")

    body
        :coffeescript
            $ ->
                input = $('#inputValue').val()
                $('#hash').on 'click', ->
                    jqXHR = $.post('/hash/md5', {input: input})
                    jqXHR.done (resp) ->
                        alert("response: #{JSON.stringify(resp)}")

        input#inputValue(maxlength="255",default="Hello World")
        button#hash
            span Compute Hashes
